@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cinza-terceario: #F9F9F9;

    --azul-botao: #167BF7;
    --cor-de-fundo: #00030C;

    --fonte-primaria: 'inter' sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'inter';
    font-size: 1rem;
    font-weight: 400;

}

.container {
    height: 42.5rem;
    display: grid;
    grid-template-columns: 50% 50%;

}

.main {
    background-image: url(/assents/Background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    display: grid;
    align-items: center;
    text-align: center;
}

.main__itens {
    padding: 5rem;
}

.main__title {
    font-size: 1.75rem;
    color: var(--branco-principal);
    width: 700;
}

.main__img {
    text-align: center;
    padding: 1.75rem;
}

.buttons {
    color: var(--branco-principal);
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.button__main {
    background-color: var(--azul-botao);
    border-color: var(--azul-botao);
    margin-top: 1.5rem;
    width: 32rem;
}

.button__main__second {
    color: var(--branco-principal);
    background-color: transparent;
    border: 0.0625rem solid;
    width: 32rem;
}

.main__note {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
    margin-top: 2rem;
}

.container__description {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10rem 7rem;
    text-align: center;
    align-items: center;
}

.description__img {
    width: 80%;
    margin-left: 3rem;
}

.description__text {
    justify-content: left;
    text-align: left;
    margin-bottom: 1rem;
}

.title__body {
    font-size: 3rem;
    color: var(--branco-principal);
    width: 700;
}

.text__body {
    color: var(--cinza-terceario);
    line-height: 1.5rem;
}

.button__screen {
    background-color: var(--azul-botao);
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}


.title__devices {
    text-align: center;
    color: var(--branco-principal);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 4rem;
}

.div__devices {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 8rem;
    justify-content: center;
}

.div__devices__img {
    width: 80%;
    text-align: center;
    align-self: center;


}

.div__devices__text {
    color: var(--branco-principal);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 12rem;

}

.footer__logo {
    text-align: center;
    width: 100%;
}

.footer__nav {
    text-align: center;
    margin-top: 3rem;
}

.footer__nav__text {
    text-decoration: none;
    color: var(--branco-principal);
    font-size: 1rem;
    margin-right: 2rem;

}

.footer__final__text {
    color: var(--cinza-terceario);
    font-size: 0.875rem;
    text-align: center;
    line-height: 1.3125rem;
    margin: 2rem 0
}

.footer__final__text__final {
    margin-bottom: 4rem;
}

@media (max-width: 1200px) {
    .main {
        background-size: auto;
    }

    .container {
        width: auto;
        grid-template-columns: 100%;

    }

    .buttons {
        width: auto;
    }

    .container__description {
        display: block;
        margin: 5rem 3rem;
    }

    .description__img.div__devices__img {
        width: auto;
    }

    .div__devices__text {
        margin: auto;
    }

    .div__devices {
        display: block;
        align-items: center;
        text-align: center;

    }
}